.card {
  position: relative;
  width: 240px;
  min-height: 240px;
  background-color: #000;
  box-sizing: border-box;
  border: 4px double #062;
  color: #0f2;
}

.card:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 1;
  width: 40%;
  height: 40%;
  border-top: 4px solid #0f2;
  border-left: 4px solid #0f2;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  pointer-events: none;
}

.title {
  position: absolute;
  left: 0;
  bottom: 20px;
  max-width: 80%;
  margin: 0;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  font-family: monospace;
  font-size: 12px;
  line-height: 1;
}

.image {
  width: 100%;
  display: block;
}

.dead {
  position: absolute;
  top: 0;
  right: 0;
  cursor: default;
}

.dead:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 48px solid #a00;
  border-left: 48px solid transparent;
  pointer-events: none;
}

.dead:after {
  content: "☠";
  position: relative;
  padding: 2px;
  font-size: 24px;
  color: #000;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-width: 640px) {

  .card {
    width: 280px;
    min-height: 280px;
  }

  .title {
    font-size: 18px;
  }

}
