.pagination {
  display: flex;
}
.link,
.button {
  width: 50%;
  border: 0;
  background: #333;
  color: #fff;
  padding: 20px;
  font-family: monospace;
  line-height: 1.25;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: bold;
}
.link:hover {
  background: #000;
}
.button[disabled] {
  border: 1px solid;
  background: #fff;
  color: #333;
  opacity: 0.25;
  cursor: default;
}
