.pagination {
  padding: 0 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link,
.button {
  width: 108px;
  padding: 14px 0;
  border: 4px double #0f2;
  background-color: #0a2d14;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  color: #0a2d14;
  text-shadow:
    1px 1px 0 #0f2,
    -1px -1px 0 #0f2,
    1px -1px 0 #0f2,
    -1px 1px 0 #0f2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.link:focus,
.link:hover {
  border-style: solid;
  box-shadow: 0 0 12px 0 #0f2, inset 0 0 12px 0 #0f2;
  outline: none;
}

.button[disabled] {
  opacity: 0.2;
  cursor: default;
}

.status {
  font-family: monospace;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  color: #0f2;
  line-height: 1;
}

@media screen and (min-width: 640px) {

  .pagination {
    padding: 0 36px 36px;
  }

  .link,
  .button {
    width: 240px;
    padding: 22px;
    font-size: 18px;
  }

  .status {
    font-size: 18px;
  }

}
