.list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  width: 240px;
  margin: 0 18px;
  box-sizing: border-box;
}

.link {
  position: relative;
  padding: 18px 0 17px;
  border-left: 4px double transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  color: #0f2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.active {
  border-left: 4px double #0f2;
  border-bottom: 1px solid #0f2;
}

@media screen and (min-width: 640px) {

  .item {
    width: 280px;
  }

  .link {
    font-size: 18px;
  }

}
