.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.item {
  margin: 12px;
}

@media screen and (min-width: 640px) {

  .grid {
    padding: 18px;
  }

  .item {
    margin: 18px;
  }

}
