:global(body) {
  margin: 0;
}

.layout {
  background-color: #111;
}

.header {
  width: 100%;
  padding: 18px 24px 14px;
  background-color: #020;
  border-bottom: 4px double #0f2;
  color: #ddd;
  box-sizing: border-box;
}

.title {
  color: #020;
  margin: 0;
  font-family: monospace;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-shadow:
    1px 1px 0 #0f2,
    -1px -1px 0 #0f2,
    1px -1px 0 #0f2,
    -1px 1px 0 #0f2;
}

@media screen and (min-width: 640px) {

  .header {
    padding: 24px 36px 20px;
  }

  .title {
    font-size: 24px;
  }

}
